.form{
width: 50%;
background-color: #333;
color: white;
padding: 0.5rem;
border-radius: 0.6rem;
margin-bottom: 0.5rem;
}

.form_field{
    margin: 1rem 0;
    display: flex; 
}

.form_field_label{
    flex-basis: 20%;
}

.form_field_input{
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}

.form_field_textarea{
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}

.form_button{
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.form_button:hover{
    background-color: orange;
    color: white;
}